---
layout: default
title: nagu.io
#header: Pages
---
<div id="gallery" class="">
        {% for project in site.data.projects %}
        <div class="block">
            <img src="{{ site.baseurl }}/img/feature/{{project.feature}}" alt="{{ project.desc }}">
        </div>
        {% endfor %}

</div>

<!--<li>-->
<!--<h2>{{ project.title }}</h2>-->
<!--<time>{%if project.date %} {{ project.date }} {% endif %}</time>-->
<!--<p>{{ project.desc }}</p>-->
<!--{% if project.slug %}-->
<!--<p>Link: <a href="{{site.url}}/projects/{{project.slug}}">link</a></p>-->
<!--{% endif %}-->
<!--<p>{% if project.img_path %} {{ project.img_path }} {% endif %}</p>-->
<!--</li>-->