/* PALETTE

#206777
#135267
#40BCD2
#5CC3D3
#1F86A2,

#9EE1E1
#308780
#C2E7CE
#E1F3F0
#216E76,

#1B1C1C
#FFCA47
#FFB830
#FF6D79
#FF2D16

*/


h1, h2, h3, h4, h5 {
    /*font-family: 'PT Serif Caption';*/

}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #135267;
    font-size: 48px;
}

h3 {
    font-family: "Oswald";
    font-size: 36px;
}

h4 {
    font-family: "Oswald";
    font-size: 16px;
}

h5 {
    font-family: "Oswald";
    font-size: 12px;
}

/* Chart Styling*/

.chart-title {
    font-family: 'PT Sans', sans-serif;
    margin: 10px 0 0 40px;
}

.table-co2 {
    font-family: 'PT Serif', sans-serif;
}

ul.nav-tabs {
    padding-top: 10px;
}



/* D3 Chart Styling */

.d3-chart {
    font: 11px sans-serif;
}

.label {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

#title {
    /*background-color: #C2E7CE;*/
}

#title h1 {
    color: #135267;
}

body {
    background-color: #F6F8FA;
    font-family: 'PT Serif', serif;
    padding-top: 50px;
    font-size: 14px;
}

img {
    max-width: 100%;
}

#content {
    background-color: white;

    border-color: #E2E2E2;
    border-style: solid;
    border-width: 1px;

    max-width: 800px;
    padding-top:15px;
}

#content .page-header {
    border-top: 2px dashed #E2E2E2;
    border-bottom: none;
}

/* http://stackoverflow.com/questions/17206631/why-are-bootstrap-tabs-displaying-tab-pane-divs-with-incorrect-widths-when-using */
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */