<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<title>{{ site.title }}</title>

<meta property="og:description" content="{{ page.description }}" />

<meta name="author" content="Nicolas Aguirre" />
<meta name="keywords" content="generative, data, data visualization" />
<meta name="viewport" content="width=device-width, initial-scale=1,
maximum-scale=3" />

<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
