.debug {
  border: 1px solid rgba(255, 0, 120, 0.6);
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  background: #eee;
  border: 1px solid rgba(30, 30, 255, 0.25);
  display: inline-block;
  text-align: center;
  overflow: hidden;
  transition: all .2s ease-in-out;

  a img {
    height: 100%;
  }
}
.block:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .block {
    width: 100%;
    height: 250px;
  }
}
@media (min-width: 576px) {
  .block {
    width: 33.3%;
    height: 300px;
  }
}
@media (min-width: 900px) {
  .block {
    width: 25%;
    height: 350px;
  }
}