@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.debug {
  border: 1px solid rgba(255, 0, 120, 0.6);
}

#gallery {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
}

.block {
  background: #eee;

  border: 1px solid rgba(30, 30, 255, 0.25);
  border-radius: 5px;

  width:400px;
  display: inline-block;

  text-align: center;
}

@media (max-width: 576px) {
  .block {
    height: 200px;
  }
}
@media (min-width: 576px) {
  .block {
    height: 240px;
  }
}
@media (min-width: 768px) {
  .block {
    height: 300px;
  }
}