<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
<div class="container-fluid">
    <!--googleoff: all-->
    <header>
        <div class="text">
            <nav>
                <div class="site-title" id="about"><a href='/'>{{ site.title }}</a></div>
            </nav>
        </div>
    </header>
    <!--googleon: all-->
    <main>
        <h1>nagu.io</h1>
        {{ content }}
    </main>
    <!--googleoff: all-->

    <div class="container">
        {% include footer.html %}
    </div>
</div>
</body>
</html>
